{{define "status"}}
<!DOCTYPE html>
<html>
<head>
  <title>ClinicOS Authentication</title>
</head>
<body>
<h1>ClinicOS Authentication</h1>
{{if .dbError}}
<p>❌ something went wrong</p>
{{else}}
<p>✅ running</p>
{{end}}
</body>
</html>
{{end}}
